.task-form input[type="text"] {
    width: 100%;
    border: none;
    padding: 10px 8px;
    background-color: #fff;
    font-size: 14px;
}

.button-div {
    display: flex;
    margin-top: 4px;
    justify-content: flex-end;
}

.task-form button {
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: #fff;
    background-color: #2962FF;
    min-width: 64px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 4px;
}

.task-form button:hover {
    background-color: #1a54f1;
}

.task-form .cancel {
    background-color: transparent;
    color: #D50000;
    font-weight: bold;
}

.task-form .cancel:hover {
    background-color: rgba(0, 0, 0, 0.2);
}